<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |

<%= link_to 'Back', games_path %>

<% @current_cards.each do |card| %>
	<h3><%= Deck.find(card.deck_id).name.camelcase %></h3>
	<a href="/games/<%= @game.id%>/pick_up/<%= card.id %>" class="<%= card.deck.name.downcase %>">
		<div class="card">
			<h2 class="name"><%= card.name %></h2>
			<div class="attr_one"><%= card.attr_one %></div>
			<div class="attr_two"><%= card.attr_two %></div>
			<div class="attr_three"><%= card.attr_three %></div>
			<div class="attr_four"><%= card.attr_four %></div>
			<div class="attr_five"><%= card.attr_five %></div>
			<div class="attr_six"><%= card.attr_six %></div>
			<div class="attr_attr_description"><%= card.attr_description %></div>
		</div>
	</a>
<% end %>
<style>
<% Deck.all.each do |deck| %>
	<%= deck.styling %>
<% end %>
</style>
<h3>Your Cards</h3>

<% @your_cards.each do |card| %>
	<a href="/games/<%= @game.id%>/put_back/<%= card.id %>" class="<%= card.deck.name.downcase %>">
		<div class="card">
			<h2 class="name"><%= card.name %></h2>
			<div class="attr_one"><%= card.attr_one %></div>
			<div class="attr_two"><%= card.attr_two %></div>
			<div class="attr_three"><%= card.attr_three %></div>
			<div class="attr_four"><%= card.attr_four %></div>
			<div class="attr_five"><%= card.attr_five %></div>
			<div class="attr_six"><%= card.attr_six %></div>
			<div class="attr_attr_description"><%= card.attr_description %></div>
		</div>
	</a>
<% end %>

<br />
<br />
<br />