<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Attr one:</strong>
  <%= @card.attr_one %>
</p>

<p>
  <strong>Attr two:</strong>
  <%= @card.attr_two %>
</p>

<p>
  <strong>Attr three:</strong>
  <%= @card.attr_three %>
</p>

<p>
  <strong>Attr four:</strong>
  <%= @card.attr_four %>
</p>

<p>
  <strong>Attr five:</strong>
  <%= @card.attr_five %>
</p>

<p>
  <strong>Attr six:</strong>
  <%= @card.attr_six %>
</p>

<p>
  <strong>Attr description:</strong>
  <%= @card.attr_description %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
